.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.getQuestion{
  background: linear-gradient(270deg, #23a5d5c9, #757e7cab);
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom:10px;
  border:1px solid rgba(0, 0, 255, 0.219);
  outline: none;
  font-size: 17px;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.getQuestion:hover{
  box-shadow: 0 0 11px 2px rgb(0 0 0 / 20%);
}