body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  background: linear-gradient(270deg, #ee765249, #23a5d544, #23d5ab3b);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  box-sizing: border-box;
}


@media only screen and (max-width:900px) {}


::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; 
  border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(197 197 197); 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(197 197 197); 
}