table {
    margin-bottom: 20px;
    font-family: 'Assistant', sans-serif;
    /* border-collapse: collapse; */
    width: 100%;
    box-sizing: border-box;
    table-layout: fixed;
    background-color: rgba(255, 255, 255, 0.404);
    border-radius: 20px;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid rgba(0, 229, 233, 0.226);
    box-shadow: 0px 1px 6px 1px #00000031;
}

td,
th {
    /* border-top: 1px solid rgba(66, 111, 112, 0.356); */
    text-align: center;
    padding: 12px 0px 9px 0px;
    table-layout: fixed;
    word-wrap: break-word;
    cursor: pointer;
}

th {
    text-align: center;
    background-color: rgba(128, 128, 128, 0.452);
    cursor: default;
    padding: 12px 0px 9px 0px;

}

tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.171);
}

.noneData{
    text-align: center;
    padding: 10px 10px 5px;
    font-size: 17px;
    font-weight: 600;
}

.linkRouterGetUsers{
    text-decoration: revert;
    color:rgba(1, 136, 122, 0.829);
}